#### --- Day 1: Trebuchet?! ---
Something is wrong with global snow production, and you've been selected to take a look. The Elves have even given you a map; on it, they've used stars to mark the top fifty locations that are likely to be having problems.

You've been doing this long enough to know that to restore snow operations, you need to check all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

You try to ask why they can't just use a weather machine ("not powerful enough") and where they're even sending you ("the sky") and why your map looks mostly blank ("you sure ask a lot of questions") and hang on did you just say the sky ("of course, where do you think snow comes from") when you realize that the Elves are already loading you into a trebuchet ("please hold still, we need to strap you in").

As they're making the final adjustments, they discover that their calibration document (your puzzle input) has been amended by a very young Elf who was apparently just excited to show off her art skills. Consequently, the Elves are having trouble reading the values on the document.

The newly-improved calibration document consists of lines of text; each line originally contained a specific calibration value that the Elves now need to recover. On each line, the calibration value can be found by combining the first digit and the last digit (in that order) to form a single two-digit number.

For example:

1abc2
pqr3stu8vwx
a1b2c3d4e5f
treb7uchet
In this example, the calibration values of these four lines are 12, 38, 15, and 77. Adding these together produces 142.

Consider your entire calibration document. What is the sum of all of the calibration values?

In [4]:
import pandas as pd
import re
df = pd.read_fwf('input1.txt', header = None, names = ['input_vals'])

In [14]:
df.head(15)

                                   input_vals
0                                two934seven1
1                               8825eightknfv
2                         sevenoneqbfzntsix55
3                foursqpqvv192rdrbtcccfourone
4                    9jpzhpxqthreelmrnlhfqmn4
5   onedpsckg3xdhmgtsixthreefivejlncszkxeight
6                                    4twofour
7           7eighttwo17fournsmrznntgjrdpkdjvx
8                                         573
9                                  ninethree3
10                                3gngzkpkgrf
11                      qeightwo2xjvfkfiveone
12                                  twoonej26
13            sgoneightfoureight5sevenjzsqghg
14                           bnrb36xtjd7four9

In [15]:
def extractNumber(input):
    '''Takes a string and extracts every digit it encounters in order into a list,
    then from this list creates an int out of the first and last digits'''
    digs = [x for x in input if x.isdigit()]
    output = int(digs[0])* 10 + int(digs[-1])
    return output

In [19]:
theSum = 0
for a in df['input_vals']:
    ints = extractNumber(a)
    theSum += ints
    #print(ints)

print(theSum)

52974

#### --- Part Two ---
Your calculation isn't quite right. It looks like some of the digits are actually spelled out with letters: one, two, three, four, five, six, seven, eight, and nine also count as valid "digits".

Equipped with this new information, you now need to find the real first and last digit on each line. For example:

two1nine
eightwothree
abcone2threexyz
xtwone3four
4nineeightseven2
zoneight234
7pqrstsixteen
In this example, the calibration values are 29, 83, 13, 24, 42, 14, and 76. Adding these together produces 281.

What is the sum of all of the calibration values?

In [23]:
digitNames = {'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5', 'six': '6', 'seven': '7', 'eight': '8', 'nine': '9'}

In [32]:
test = df['input_vals'][:10]
test

0                                 two934seven1
1                                8825eightknfv
2                          sevenoneqbfzntsix55
3                 foursqpqvv192rdrbtcccfourone
4                     9jpzhpxqthreelmrnlhfqmn4
5    onedpsckg3xdhmgtsixthreefivejlncszkxeight
6                                     4twofour
7            7eighttwo17fournsmrznntgjrdpkdjvx
8                                          573
9                                   ninethree3
Name: input_vals, dtype: object

In [35]:
theSum = 0
for a in df['input_vals']:
    for key in digitNames.keys():
        a = a.replace(key, digitNames[key])
    #print(a)
    ints = extractNumber(a)
    #print(ints)
    theSum += ints
    

print(theSum)

52646